.CotainerButton {
    padding-top: 4rem;
}

.Button {
    width: 12rem;
    height: 3rem;
    background-color: #5d78ff;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 100%;
}