.Container {
    background-color: white;
    max-width: 80em;
    margin: auto;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.Banner {
    width: 100%;
}

.Banner img {
    width: 100%;
}

@media only screen and (max-width: 768px) {}